@media (min-width:768px){
  .about-bg{
      background-image: url('../../../public/images/home/customer-reviewsbg.webp');
  }
}
@media (min-width:1024px) and (max-width:1500px){
    .main-section{
        height: 500px;
    }
    .main-section h1{
        font-size: 30px;
        line-height: 40px;
    }
}
@media (min-width:1280px) and (max-width:1664px){
  .history-card-responsive{
    width: 80%;
  }
}
@media (min-width:1024px) and (max-width:1200px){
  .paragraph{
    font-size: 14px;
  }
}
@media (min-width:768px) and (max-width:1023px){
  /* .paragraph{
    font-size: 14px;
  } */
}

/* Time line */

/* Define custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  min-width: 10px !important;
  width: 20px !important;
  cursor: pointer;
  height: 8px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--secondary-cl);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-cl);
}

.timeline-container {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.timeline-container.animate {
  opacity: 1;
}

.branch-image {
  opacity: 0;
  animation: branch-load 2s forwards;
}

.top-image {
  opacity: 0;
  animation: image-load 2s 2s forwards;
}

.bottom-image {
  opacity: 0;
  animation: image-load 2s 4s forwards;
}

@keyframes branch-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes image-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}