@media (min-width: 1024px) and (max-width: 1440px) {
    .responsewidth {
        width: 80% !important;
    }
}

@media (min-width:768px) {
    .galary-bg {
        background-image: url('../../../public/images/achievements/achievements-bg.svg');
    }
    .galary-inner-bg{
        background-image: url('../../../public/images/home/line_background.svg');

    }
}

.ant-image{
    width: 100% !important;
}
.ant-image-img{
    object-fit: cover;
    height: 200px !important;
}