@tailwind base;
@tailwind components;
@tailwind utilities;

/* clash fonts */
@font-face {
  font-family: "clash-display-regular"; /* 400 */
  src: url(../../public//font/ClashDisplay-Regular.woff) format(woff);
}
@font-face {
  font-family: "clash-display-medium"; /* 500 */
  src: url(../../public/font/ClashDisplay-Medium.woff) format(woff);
}

/* general sans fonts */
@font-face {
  font-family: "general-sans-light"; /* 300 */
  src: url(../../public//font/GeneralSans-Light.woff) format(woff);
}

@font-face {
  font-family: "general-sans-regular"; /* 400 */
  src: url(../../public//font/GeneralSans-Regular.woff) format(woff);
}

@font-face {
  font-family: "general-sans-medium"; /* 500 */
  src: url(../../public//font/GeneralSans-Medium.woff) format(woff);
}

@font-face {
  font-family: "general-sans-semibold"; /* 600 */
  src: url(../../public//font/GeneralSans-Semibold.woff) format(woff);
}
/* inter fonts */
@font-face {
  font-family: "inter-regular"; /* 400 */
  src: url(../../public//font/Inter-Regular.ttf) format(woff);
}

@font-face {
  font-family: "inter-medium"; /* 500 */
  src: url(../../public//font/Inter-Medium.ttf) format(woff);
}

/* anek malayalam fonts */
@font-face {
  font-family: "akek-malayalam-bold"; /* 700 */
  src: url(../../public/font/AnekMalayalam-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "akek-malayalam-semi-bold";
  src: url(../../public/font/AnekMalayalam-SemiBold.ttf) format("truetype");
}

:root {
  --primary-cl:#BFD8BD;
  --secondary-cl:#052D23;
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #ffff;
  --c2: rgba(168, 239, 255, 0.1);
} 

/* selection color change */

/* ::selection {
  color: #052D23; 
  background: #99e294; 
} */

/* Responsive */

.containers {
  width: 100%; 
  margin: auto;
}

@media (min-width: 1025px) {
  .containers {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .containers {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .containers {
    width: 90%;
  }
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

/* About Section */
@media (min-width:768px){
  .about-main-bg{
        background-image: url('../../public/images/home/about-section-bg.webp');
    }
}





