.hero-text {
    font-family: 'akek-malayalam-bold';
    color: var(--secondary-cl);
    line-height: 4.6875vw;
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .res {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .res {
        width: 99%;
    }
}

@media (max-width: 1024px) {
    .hero-text {
        line-height: 40px;
    }

    .hero-small-txt {
        font-size: 12px !important;
        line-height: 18px !important;
        width: 247px !important;
    }

    .box {
        font-size: 12px !important;
    }

    .hero-sub-text {
        font-size: 20px !important;
    }
}

.hero-sub-text {
    font-family: 'akek-malayalam-semi-bold';
    color: var(--secondary-cl);
    line-height: 57.3px;
    font-size: 40px;
}

@media (max-width: 767px) {
    .hero-text {
        font-size: 36px;
        width: 300px;
    }

    .hero-small-txt {
        font-size: 12px !important;
        line-height: 18px !important;
        width: 247px !important;
    }

    .box {
        padding: 10px 0px !important;
        font-size: 12px !important;
    }

    .hero-sub-text {
        font-size: 20px !important;
    }
}

.hero-sub-text {
    font-family: 'akek-malayalam-semi-bold';
    color: var(--secondary-cl);
    line-height: 57.3px;
    font-size: 40px;
}


.hero-small-txt {
    font-family: 'general-sans-medium';
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: 24rem;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

.box {
    font-family: 'general-sans-semibold';
    font-size: 16px;
    padding: 16px 23px 16px 23px;
    color: white;
    border: 1px solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 28;
    animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 100%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}



/* About Section */

.bg-color {
    background: rgb(152, 201, 163);
    background: linear-gradient(90deg, rgba(152, 201, 163, 1) 0%, rgba(191, 216, 189, 1) 77%);

    @media (max-width:768px) {
        background: rgb(191, 216, 189);
        background: linear-gradient(0deg, rgba(191, 216, 189, 1) 0%, rgba(152, 201, 163, 1) 100%);
    }
}

.box-shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.custom-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: -10px 0px;

}

.custom-dot {
    cursor: pointer;
    margin: 0 4px;

}

.custom-dot .dot-line {
    display: block;
    width: 7px;
    height: 4px;
    border-radius: 6px;
    background-color: #BCBCBC;
    transition: all 0.3s ease;
}

.custom-dot.active .dot-line {
    width: 22px;
    height: 4px;
    background-color: white;

    @media (max-width:768px) {
        background-color: var(--secondary-cl);

    }
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-arrow {
    right: -50px;
}

.prev-arrow {
    left: -50px;
}


/* Chairman */
.chairmanBgGradient {
    background-image: url('/images/home/chairmanbg.svg');
    background: rgb(5, 45, 35);
    background: linear-gradient(90deg, rgba(5, 45, 35, 1) 0%, rgba(191, 216, 189, 1) 100%);
}


/* Review and faq */
.reviews-bg-gradient {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(245, 251, 244, 1) 48%, rgba(239, 246, 239, 1) 55%, rgba(229, 237, 229, 1) 66%, rgba(191, 216, 189, 1) 100%);
}