/* .hide-details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
   
}

.show-details {
    max-height: 1000px; 
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
} */

.custom-hieght{
    height: 500px;
}