.custom-shadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (min-width: 1250px) and (max-width: 1600px) {
    .custom-res {
      width: 80% !important;
    }
  }

  @media (min-width: 1024px) and (max-width: 1249px) {
  
    .custom-res {
        width: 90% !important;
        
      }
    .heading-size{
  font-size: 16px !important;
    }
    .text-res{
 font-size: 12px !important;
    }
    .paragraph-size{
        font-size: 16px Im !important;
    }
    .left-side-width{
        width: 70%;
    }
    .right-side-width{
        width: 30%;
    }
  }

.iframe-div iframe {
    border-radius: 8px !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 300px;
}
/* .custom-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: -150px 0px;

}

.custom-dot {
    cursor: pointer;
    margin: 0 4px;

}

.custom-dot .dot-line {
    display: block;
    width: 7px;
    height: 4px;
    border-radius: 6px;
    background-color: #BCBCBC;
    transition: all 0.3s ease;
}

.custom-dot.active .dot-line {
    width: 22px;
    height: 4px;
    background-color: white;

    @media (max-width:768px) {
        background-color: var(--secondary-cl);

    }
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-arrow {
    right: 10px;
    top: 85%;
}

.prev-arrow {
    right: 100px;
    top: 85%;
} */
