
.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

@media (min-width:768px) {
    .achievements-bg {
        background-image: url('../../../public/images/achievements/achievements-bg.webp');
    }
}

.ant-image{
    width: 100% !important;
}
.ant-image-img{
    object-fit: cover;
    height: 315px !important;
}
@media (min-width:1280px) and (max-width:1500px){
    .custom-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}