.main-area {
    padding-top: 18px;
}

.nav-bar {
    /* height: 77px; */
    width: 70%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
}

.nav-bar ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'general-sans-medium';
    position: relative;
    transition: color 0.3s ease;
}

.nav-bar ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-cl);
    transition: width 0.3s ease-in-out;
}

.bgPrimary ul li::after {
    background-color: #4C956C !important;
}

.nav-bar ul li:hover::after,
.nav-bar ul li.active::after {
    width: 100%;
}

.bgPrimary ul li:hover,
.bgPrimary ul li.active {
    color: #4C956C !important;
}

/* .bgPrimary ul li.active{
    color: var(--secondary-cl) !important;
} */
.nav-bar ul li:hover,
.nav-bar ul li.active {
    color: var(--primary-cl);
}

.nav-bar ul li .card {
    overflow: hidden;
    border-radius: 12px;
    padding: 10px;
}

a.flip-animate {
    perspective: 1200px;
    display: flex;
    flex-direction: column;
}

a.flip-animate span {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #818181;
    transition: transform 0.1s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

a.flip-animate span:before {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 20px;
    content: attr(data-hover);
    transition: color 0.1s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}

a.flip-animate:hover span,
a.flip-animate:focus span {
    transform: rotateX(90deg) translateY(-22px);
}

a.flip-animate:hover span:before,
a.flip-animate:focus span:before {
    color: var(--secondary-cl);
}


/* Footer */
.quick-enquiry {
    cursor: pointer;
    background-color: var(--primary-cl);
    position: fixed;
    right: 0%;
    top: 40%;
    border-radius: 20px 0px 0px 20px;
    width: 50px;
    height: 180px;
    z-index: 100;
    display: flex;
    overflow: hidden;
    border: 1px solid var(--secondary-cl);

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg,
                rgba(255, 255, 255, 0) 30%,
                rgb(255 255 255 / 53%),
                rgba(255, 255, 255, 0) 70%);
        top: -100px;
        left: 0;
        animation: shimmerAnimation 3s infinite linear;
    }
}

.quick-enquiry .content {
    writing-mode: vertical-rl;
    rotate: 180deg;
    text-orientation: mixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'general-sans-semibold';
    font-size: 18px;
    color: var(--secondary-cl);
}

@media (max-width:767px) {
    .quick-enquiry{
        width: 40px ;
        height: 120px;
        border-radius: 12px 0px 0px 12px;
    }
    .quick-enquiry .content {
        font-size: 14px;
    }

}

@keyframes shimmerAnimation {
    0% {
        top: -100px;
    }

    20% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

@media (max-width: 768px) {
    .quick-enquiry {
        width: 40px;
        height: 160px;
    }

}

/* Responsive */

@media (max-width: 1023px) {
    .lap-navbar {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .nav-bar .logo {
        height: 50px;
        /* margin-left: -20px; */
    }

    .nav-bar {
        height: 60px;
        padding: 0 20px;

    }

    .nav-bar ul {
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .mobile-navbar {
        display: none;
    }

}

@media (max-width: 1400px) {
    .nav-bar {
        width: 90%;

    }

}


@media (max-width:1024px) {
    .footer {
        nth-div(1) {
            column-span: 3;
        }
    }
}

@media (min-width:1024px) and (max-width:1100px) {
    .logo-div {
        width: 28vw;
    }

    .project-div {
        width: 15vw;
    }

    .other-links {
        width: 14vw;
    }

    .nav-bar {
        width: 94%;
    }
}